@font-face {
    font-family: 'B612 Mono';
    src: url('./font/B612Mono-Regular.woff2') format('woff2'),
        url('./font/B612Mono-Regular.woff') format('woff'),
        url('./font/B612Mono-Regular.ttf') format('truetype'),
        url('./font/B612Mono-Regular.svg#B612Mono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: 'B612 Mono';
    background-color: black;
    color: white;
    text-shadow: 0px 0px 20px lightgray;
}

div {
    background-color: black;
    margin: 4px;
}

.centered-text {
    text-align: center;
}

.grey-border {
    border-width: 4px;
    border-style: solid;
    border-color: grey;
}

.big-div {
    border-width: 8px;
    border-style: solid;
    border-color: orange;
    margin: 8px;
}

h1 {
    text-align: center;
}

button {
    font-family: 'B612 Mono';
    color: white;
    background-color: darkslateblue;
    border-width: 4px;
    border-style: solid;
    border-color: orange;
    margin: 4px;
    text-decoration: none;
    transition-duration: 0.1s;
    cursor: pointer;
}

button:hover {
    background-color: orange;
    color: black;
    border-color: darkslateblue;
}

img {
    margin: 8px;
    border-width: 4px;
    border-style: solid;
    border-color: grey;
}

li {
      list-style-type: none;
}

.radar-range {
    display: block;
    width: 95%;
}

/* AdvancedStats CSS-grid */
.grid-container-advancedstats {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }

.right {
    float: right;
    width: 25%;
}

.left {
    float: left;
    width: 25%;
}

.middle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40%;
}
 
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}